ul {
  display: flex;
  gap: 12px;
}
li {
  list-style: none;
}
li button {
  cursor: pointer;
  color: #666;
  background: #fff;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
}
li.active button {
  color: #fff;
  background: #222;
}
